<!-- Modal -->
<div id="modalImp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">{{!this.dataApiService.selectedImp.id ? 'Nova Impressora' : 'Atualizar Impressora'}}</h3>
      </div>
      <div class="modal-body">
        <form class="form-book" #formImp="ngForm" (ngSubmit)="onSaveImp(formImp)">
          <input type="hidden" id="id" name="id" class="form-control" [(ngModel)]="this.dataApiService.selectedImp.id">
          <div class="form-group">
            <label for="ip">Ip</label>
            <input type="text" id="ip" name="ip" class="form-control" placeholder="Ip" [(ngModel)]="this.dataApiService.selectedImp.ip">
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="unidade">Filial</label>
              <select name="unidade" id="unidade" class="form-control" [(ngModel)]="this.dataApiService.selectedImp.unidade">
                <option value="Matriz">Matriz</option>
                <option value="João Pessoa">João Pessoa</option>
                <option value="Cabedelo">Cabedelo</option>
                <option value="CD">CD</option>
                <option value="Juazeiro do Norte">Juazeiro do Norte</option>
                <option value="Fortaleza">Fortaleza</option>
                <option value="Arapiraca">Arapiraca</option>
                <option value="Dona Valmira">Dona Valmira</option>
                <option value="Campina Grande">Campina Grande</option>
                <option value="Natal">Natal</option>
              </select>
            </div>
            <div class="form-group">
              <label for="setor">Setor</label>
              <input type="text" id="setor" name="setor" class="form-control" placeholder="Setor" [(ngModel)]="this.dataApiService.selectedImp.setor">
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="modelo">Modelo</label>
              <input type="text" id="modelo" name="modelo" class="form-control" placeholder="Modelo" [(ngModel)]="this.dataApiService.selectedImp.modelo">
            </div>
          </div>
          <button type="submit" class="btn btn-primary float-right">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>