<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Orçamentos
  </h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/unidades">
        <i class="fa fa-dashboard"></i>Home</a>
    </li>
    <li class="active">Situa</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Situação</h3>
         <!-- <input *ngIf="!isLogged" type="button" onclick="disabled='disabled'; style=' background-color: #565656 '; value='Atualizando...'; " (click)='atualizarcx();' value="Atualizar" />-->
        </div>
        <!-- /.box-header c-->
        <div class="box-body ">
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="20%" scope="col">Filial</th>
                <th width="20%" scope="col">Situa</th>
              </tr>
            </thead>  
            <tbody>
              <tr *ngFor="let s of sl1">
                <td> {{ s.FILIAL }} </td>
                <td> {{ s.SITUA }} </td>
              </tr>
            </tbody>
          </table>
          
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.box-body -->
  </div>
</section>