<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Projetos
        <small><select>
                <option value="">O-1</option>
                <option value="">O-2</option>
                <option value="">O-3</option>
            </select></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Projetos</a></li>
        <li class="active">Nome do trem^^</li>
    </ol>
</section>
<section class="invoice">
    <!-- Nome do projeto e data -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> Nome do tem^^
                <small class="pull-right">Data: inicio ^^</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- Informaçoes do projeto from-->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <address>
                <b>Código:</b> Ti <br>
                <b>Orçamento:</b> - <br>
                <b>Indispensavel:</b> - <br>
                <b>Empresa:</b> - <br>
                <b>Projeto Pai:</b> - <br>
            </address>
        </div>
        <!-- 2 to-->
        <div class="col-sm-4 invoice-col">
            <address>
                <b>Àrea:</b> Ti <br>
                <b>Sub-área:</b> - <br>
                <b>Key-user:</b> - <br>
                <b>Key-Contato:</b> - <br>
                <b>Solicitante:</b> - <br>
            </address>
        </div>
        <!-- importante detalhe-->
        <div class="col-sm-4 invoice-col">
            <b>Detalhes importantes</b><br>
            <b>Status:</b> Em andamento<br>
            <b>Prioridade:</b> Nivel: 5<br>
            <b>Previsao:</b> 01/05/2019<br>
            <button>Alterar</button>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!--Table de informaçoes variavel -->
    <div class="row">
            <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width:15%">Objetivo:</th>
                                <td><textarea cols="120" rows="3"  placeholder="Detalhes" readonly></textarea></td>
                            </tr>
                            <tr>
                                <th>Beneficios Quantitativos:</th>
                                <td><textarea cols="120" rows="3"  placeholder="Detalhes" readonly></textarea></td>
                            </tr>
                            <tr>
                                <th>Beneficios Qualitativos:</th>
                                <td><textarea cols="120" rows="3"  placeholder="Detalhes" readonly></textarea></td>
                            </tr>
                            <tr>
                                <th>Confirmar:</th>
                                <td><button class="btn btn-danger">Adicionar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <p class="lead">Orçamentos:</p>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Ano</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Comentario</th>
                    </thead>

                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <p class="lead">Adicionar:</p>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width:50%">Ano:</th>
                            <td><input placeholder="2019"></td>
                        </tr>
                        <tr>
                            <th>Valor:</th>
                            <td><input placeholder="65,00"></td>
                        </tr>
                        <tr>
                            <th>Comentário:</th>
                            <td><textarea placeholder="Detalhes"></textarea></td>
                        </tr>
                        <tr>
                            <th>Confirmar:</th>
                            <td><button class="btn btn-danger">Adicionar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!--Table de informaçoes variavel -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Comentario</th>
                        <th>Tipo</th>
                        <th>Usuario</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Call of Duty</td>
                        <td>455-981-221</td>
                        <td>El snort testosterone trophy driving gloves handsome</td>
                        <td>$64.50</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<div class="clearfix"></div>