<section class="content-header">
    <h1>
        Projetos <span class="fa fa-plus" data-toggle="modal" data-target="#modalProjeto"></span>
        <small><select [(ngModel)]="nome" (change)="getProjeto()">
                <option *ngFor="let projetonome of projetos" [ngValue]="projetonome.nome " selected="1">
                    {{projetonome.nome}}</option>
            </select></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Projetos</a></li>
    </ol>
</section>
<section class="invoice" *ngFor="let projeto of projetosd">
    <!-- Nome do projeto e data -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i>{{projeto.nome}}
                <small class="pull-right">Data: {{projeto.inicio}}</small>
            </h2>
        </div>
    </div>
    <!-- Informaçoes do projeto from-->
    <div class="row">
        <div class="col-md-9 col-sm-8">
            <div class="pad">
                <div class="row invoice-info">
                    <div class="col-sm-4 invoice-col">
                        <address>
                            <b>Status:</b> {{projeto.status}}<br>
                            <b>Prioridade:</b> {{projeto.prioridade}}<br>
                            <b>Previsao:</b> {{projeto.previsao}}<br>
                            <b>Key-Contato:</b> {{projeto.kcontato}} <br>
                        </address>
                    </div>
                    <div class="col-sm-4 invoice-col">
                        <address>
                            <b>Àrea:</b> {{projeto.area}} <br>
                            <b>Sub-área:</b> {{projeto.subarea}} <br>
                            <b>Key-user:</b> {{projeto.kuser}} <br>
                            <b>Solicitante:</b> {{projeto.solicitante}} <br>
                        </address>
                    </div>
                    <!-- importante detalhe-->
                    <div class="col-sm-4 invoice-col">
                        <b>Projeto Pai:</b> {{projeto.cdppai}} <br>
                        <b>Orçamento:</b>{{projeto.orcamento}} <br>
                        <b>Indispensavel:</b> {{projeto.indispensavel ? 'Verdade' : 'Mentira'}} <br>
                        <b>Empresa:</b> {{projeto.empresa}} <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Table de informaçoes variavel -->
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th style="width:15%">Escopo:</th>
                        <td><textarea cols="120" rows="3" [(ngModel)]="projeto.escopo" placeholder="Detalhes"
                                readonly></textarea></td>
                    </tr>
                    <tr>
                        <th style="width:15%">Objetivo:</th>
                        <td><textarea cols="120" rows="3" [(ngModel)]="projeto.objetivo" placeholder="Detalhes"
                                readonly></textarea></td>
                    </tr>
                    <tr>
                        <th>Beneficios Quantitativos:</th>
                        <td><textarea cols="120" rows="3" [(ngModel)]="projeto.beneficioqt" placeholder="Detalhes"
                                readonly></textarea></td>
                    </tr>
                    <tr>
                        <th>Beneficios Qualitativos:</th>
                        <td><textarea cols="120" rows="3" [(ngModel)]="projeto.beneficioql" placeholder="Detalhes"
                                readonly></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Orçamentos-->
    <div class="box box-success collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Orçamentos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modalOrc"><i
                        class="fa fa-file"></i></button>
            </div>
        </div>
        <div class="box-body ">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <div class="pad">
                        <div class="row">
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-bordered table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ano</th>
                                            <th scope="col">Valor</th>
                                            <th scope="col">Comentario</th>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let orcamento of orcamentos">
                                            <td>{{orcamento.data}}</td>
                                            <td>{{orcamento.valor}}</td>
                                            <td>{{orcamento.comentario}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Log-->
    <div class="box box-success collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Logs</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modalLog"><i
                        class="fa fa-file"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">


                <div class="row">
                    <div class="col-xs-12 table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Comentario</th>
                                    <th>Tipo</th>
                                    <th>Usuario</th>
                                    <th>Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let log of logs">
                                    <td>{{log.titulo}}</td>
                                    <td>{{log.comentario}}</td>
                                    <td>{{log.tipo}}</td>
                                    <td>{{log.usuarioid}}</td>
                                    <td>{{log.data}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>


<!--Modal Projeto-->
<div id="modalProjeto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Novo Projeto</h3>
            </div>
            <div class="modal-body">
                <form class="form-book" #formProjeto="ngForm" (ngSubmit)="saveProjeto(formProjeto)">
                    <input type="hidden" id="id" name="id" class="form-control"
                        [(ngModel)]="this.ProjetosService.projetos.id">
                    <div class="form-group">
                        <label for="">Nome</label>
                        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome"
                            [(ngModel)]="this.ProjetosService.projetos.nome">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="solicitante">Solicitante</label>
                            <select id="solicitante" name="solicitante" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.solicitante">
                                <option value="João Ortiz">João Ortiz</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="empresa">Empresa</label>
                            <input type="text" name="empresa" id="empresa" class="form-control" placeholder="Selecione"
                                [(ngModel)]="this.ProjetosService.projetos.empresa">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inicio">Inicio</label>
                            <input type="date" id="inicio" name="inicio" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.inicio">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="previsao">Previsão</label>
                            <input type="date" name="previsao" id="previsao" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.previsao">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="kuser">Key-User</label>
                            <select id="kuser" name="kuser" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.kuser">
                                <option value="Joeser Fermiano">Joeser Fermiano</option>
                                <option value="João Ortiz">João Ortiz</option>
                                <option value="Wylianne Costa">Wylianne Costa</option>
                                <option value="Weldon Rafael">Weldon Rafael</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="kcontato">Key-Contato</label>
                            <select id="kcontato" name="kcontato" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.kcontato">
                                <option value="Joeser Fermiano">Joeser Fermiano</option>
                                <option value="João Ortiz">João Ortiz</option>
                                <option value="Wylianne Costa">Wylianne Costa</option>
                                <option value="Weldon Rafael">Weldon Rafael</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="codigo">Código</label>
                            <input type="number" name="codigo" id="codigo" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.codigo">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="orcamento">Orçamento Inicial</label>
                            <input type="number" id="orcamento" name="orcamento" class="form-control"
                                placeholder="Ex: R$ 100,00" [(ngModel)]="this.ProjetosService.projetos.orcamento">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="prioridade">Prioridade</label>
                            <select id="prioridade" name="prioridade" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.prioridade">
                                <option value="3">Maxima</option>
                                <option value="2">Media</option>
                                <option value="1">Baixa</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="indispensavel">Indispensável</label>
                            <select type="number" id="indispensavel" name="dataAP" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.indispensavel">
                                <option value="1"> Sim </option>
                                <option value="0"> Nao </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="status">Status</label>
                            <select id="status" name="status" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.status">
                                <option value="3">Finalizado</option>
                                <option value="2">Andamento</option>
                                <option value="1">Não Iniciado</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cdppai">Projeto Pai</label>
                            <select id="cdppai" name="cdppai" class="form-control"
                                [(ngModel)]="this.ProjetosService.projetos.cdppai">
                                <option *ngFor="let projetonome of projetos" [ngValue]="projetonome.codigo">
                                    {{projetonome.nome}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="area">Área</label>
                            <input type="text" id="area" name="area" class="form-control" placeholder="Área"
                                [(ngModel)]="this.ProjetosService.projetos.area">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="subarea">Sub-Área</label>
                            <input type="text" id="subarea" name="subarea" class="form-control" placeholder="Sub-Área"
                                [(ngModel)]="this.ProjetosService.projetos.subarea">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="escopo">Escopo</label>
                        <textarea name="escopo" id="escopo" class="form-control" cols="50" rows="4" placeholder="-"
                            [(ngModel)]="this.ProjetosService.projetos.escopo"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="objetivo">Objetivo</label>
                        <textarea name="objetivo" id="objetivo" class="form-control" cols="50" rows="4" placeholder="-"
                            [(ngModel)]="this.ProjetosService.projetos.objetivo"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="beneficioqt">Beneficios Quantitativos</label>
                        <textarea name="beneficioqt" id="beneficioqt" class="form-control" cols="50" rows="4"
                            placeholder="-" [(ngModel)]="this.ProjetosService.projetos.beneficioqt"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="beneficioql">Beneficios Qualitativos:</label>
                        <textarea name="beneficioql" id="beneficioql" class="form-control" cols="50" rows="4"
                            placeholder="-" [(ngModel)]="this.ProjetosService.projetos.beneficioql"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal Log-->
<div class="modal fade" id="modalLog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Adicionar LOG</h4>
            </div>
            <form #logForm="ngForm" (ngSubmit)="saveLog(logForm)">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group">
                            <input type="hidden" id="idprojeto" name="idprojeto"
                                [(ngModel)]="this.ProjetosService.logss.idprojeto">
                        </div>
                        <div class="form-group">
                            <label for="beneficioql">Titulo </label>
                            <input class="form-control" id="titulo" name="titulo"
                                [(ngModel)]="this.ProjetosService.logss.titulo" placeholder="Insira: Titulo">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="beneficioql">Tipo </label>
                            <input class="form-control" id="tipo" name="tipo"
                                [(ngModel)]="this.ProjetosService.logss.tipo" placeholder="Insira: Tipo">
                        </div>
                        <div class="form-group">
                            <label for="beneficioql">Usuario </label>
                            <input class="form-control" id="usuario" name="usuario"
                                [(ngModel)]="this.ProjetosService.logss.usuario" placeholder="Insira: Usuario">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="beneficioql">Data </label>
                            <input class="form-control" type="date" id="data" name="data"
                                [(ngModel)]="this.ProjetosService.logss.data">
                        </div>
                        <div class="form-group">
                            <label for="beneficioql">Comentario </label><br />
                            <textarea class="form-control" id="comentario" name="comentario"
                                [(ngModel)]="this.ProjetosService.logss.comentario"
                                placeholder="Insira: Comentario"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--Modal Orçamento-->
<div class="modal fade" id="modalOrc">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Adicionar Orçamento</h4>
            </div>
            <form #orcaForm="ngForm" (ngSubmit)="saveOrca(orcaForm)">
                <div class="modal-body">
                    <input type="hidden" id="idprojeto" name="idprojeto"
                        [(ngModel)]="this.ProjetosService.orcamentoss.idprojeto">
                    <div class="form-row">
                        <div class="form-group">
                            <label>Ano:</label>
                            <input class="form-control" id="ano" name="ano"
                                [(ngModel)]="this.ProjetosService.orcamentoss.ano" placeholder="2019">
                        </div>
                    
                    <div class="form-group">
                        <label>Valor:</label>
                        <input class="form-control" id="valor" name="valor"
                            [(ngModel)]="this.ProjetosService.orcamentoss.valor" placeholder="65,00">
                    </div>
                </div>
                    <div class="form-group">
                        <label for="beneficioql">Comentário </label><br />
                        <textarea class="form-control" id="comentario" name="comentario"
                            [(ngModel)]="this.ProjetosService.orcamentoss.comentario" placeholder="Detalhes"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-dismiss="modalOrc" class="btn btn-primary">Adicionar</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--Base de collapse

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Detalhes</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body no-padding" style="">
        <div class="row">
                Onde vai os dados: Map will be created here 

        </div>
    </div>
    </div>



-->