<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Historico Pagamentos
    <small>Painel</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/admin/admin-home">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active" routerLink="/admin/custofixo" >Custo Fixo</li>
    <li class="active" routerLink="/admin/cfhistorico/0" (click)="reload()" >Historico</li>
      <li *ngIf="testId()"  >
        <span *ngFor="let name of names">
          {{name.empresaName}}
        </span>
      </li>
  </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header" *ngIf="testId()">
          <h3 class="box-title" *ngFor="let name of names">{{name.empresaName}}<span>&nbsp;&nbsp;</span><span data-toggle="modal" data-target="#modalCF" class="glyphicon glyphicon-plus"></span></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                  <tr>
                      <th scope="col">NF</th>
                      <th scope="col">Recebimento</th>
                      <th scope="col">Vencimento</th>
                      <th scope="col">Valor</th>
                      <th scope="col">SC</th>
                      <th scope="col">Situação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hist of hists"> <!-- Definir funçao no ts -->
                    <td>{{ hist.numnota }}</td>
                    <td>{{ hist.recebido }}</td>
                    <td>{{ hist.vencimento }}</td>
                    <td>{{ hist.valor }}</td>
                    <td>{{ hist.idcf }}</td>
                    <td>{{ hist.ref}}</td>
                  </tr>
                </tbody>
                </table>
        </div>
        <!-- /.box-body -->
      </div>
</section>

<div id="modalCF" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <h3 class="modal-title" id="exampleModalLabel"></h3>
        <div class="modal-body">
          <form class="form-book" #formHist="ngForm" (ngSubmit)="onSaveHist(formHist)">
            <input type="hidden" id="cfid" name="cfid" class="form-control" [(ngModel)]="this.custofixodata.SelectHist.cfid">
            <div class="form-group">
              <label for="nf">NF</label>
              <input type="text" id="nf" name="nf" class="form-control" placeholder="NF" [(ngModel)]="this.custofixodata.SelectHist.nf">
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="recebimento">Recebimento</label>
                <input type="date" id="recebimento" name="recebimento" class="form-control" placeholder="Recebimento" [(ngModel)]="this.custofixodata.SelectHist.recebimento">
              </div>
              <div class="form-group">
                <label for="vencimento">Vencimento</label>
                <input type="date" id="vencimento" name="vencimento" class="form-control" placeholder="vencimento" [(ngModel)]="this.custofixodata.SelectHist.vencimento">
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="valor">Valor</label>
                <input type="text" id="valor" name="valor" class="form-control" placeholder="valor" [(ngModel)]="this.custofixodata.SelectHist.valor">
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="sc">SC</label>
                <input type="text" id="sc" name="sc" class="form-control" placeholder="Sc" [(ngModel)]="this.custofixodata.SelectHist.sc">
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="situacao">Situação</label>
                <select id="situacao" name="situacao" class="form-control" [(ngModel)]="this.custofixodata.SelectHist.situacao">
                  <option value="0">Pendente</option>
                  <option value="1">Entregue</option>
                  </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>