<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    TimeSheet
    <small  >{{user.username}}</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/admin/unidades">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">TimeSheet</li>
  </ol>
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">
        <div class="box-title" *ngIf="isAdm">
          Colaborador: <select [(ngModel)]="selectedworker"   (change)="getDays()">
          <option  *ngFor="let work of worker" [ngValue]="work.id">
            {{work.nome}}
          </option>
        </select>
      </div>        
        Mês: <select [(ngModel)]="selectedMonth" (change)="getDays()">
          <option *ngFor="let m of months" [ngValue]="m.value">
            {{m.name}}
          </option>
        </select>
        Ano: <select [(ngModel)]="selectedYear" (change)="getDays()">
          <option selected *ngFor="let y of years" [ngValue]="y.value">
            {{y.value}}
          </option>
        </select>
        <button class="pull-right" (click)="exportAsXLSX()">Excel</button>
      </h3>
    </div>
    <!-- /.box-header -->

    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Dia</th>
            <th scope="col">Total</th>
            <th scope="col">E1</th>
            <th scope="col">S1</th>
            <th scope="col">E2</th>
            <th scope="col">S2</th>
            <th scope="col">E3</th>
            <th scope="col">S3</th>
            <th scope='col'>Observações</th>
            <th> Salvar</th>
        </thead>

        <tbody>
          <tr *ngFor="let day of days; index as i">
            <td><span name="data">{{day.datat}}</span></td>
            <td><span name="dia">{{diames(selectedYear, selectedMonth, i)}}</span></td>
            <td><span
                name="totalv" >{{totalhoras(day.e1, day.s1, day.e2, day.s2, day.e3, day.s3)}} H</span></td>
            <input name="id" type="hidden"  style="width: 100%"  [(ngModel)]="day.id">
            <td><input name="e1" type="time" style="width: 100%" (change)="totalhoras(day.e1, day.s1, day.e2, day.s2, day.e3, day.s3)" [(ngModel)]="day.e1"></td>
            <td><input name="s1" type="time" style="width: 100%" (change)="totalhoras(day.e1, day.s1, day.e2, day.s2, day.e3, day.s3)" [(ngModel)]="day.s1"></td>
            <td><input name="e2" type="time" style="width: 100%" (change)="totalhoras(day.e1, day.s1, day.e2, day.s2, day.e3, day.s3)" [(ngModel)]="day.e2"></td>
            <td><input name="s2" type="time" style="width: 100%" (change)="totalhoras(day.e1, day.s1, day.e2, day.s2, day.e3, day.s3)" [(ngModel)]="day.s2"></td>
            <td><input name="e3" type="time" style="width: 100%" (change)="totalhoras(day.e1, day.s1, day.e2, day.s2, day.e3, day.s3)" [(ngModel)]="day.e3"></td>
            <td><input name="s3" type="time" style="width: 100%" (change)="totalhoras(day.e1, day.s1, day.e2, day.s2, day.e3, day.s3)" [(ngModel)]="day.s3"></td>
            <td><textarea name="obs" [(ngModel)]="day.obs"></textarea></td>
            <td><button (click)="UpdateDay(day)"> <span class="fa fa-check text-blue"></span> </button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</section>
<div class="clearfix"></div>