.my-custom-scrollbar {
    position: relative;
    height: auto;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
  .thead{
    position: fixed;
  }

  input[type=button] {
    background-color: #4CAF50;
      border: none;
      color: white;
      padding: 4px 8px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      text-align: right;
    }