<section class="content-header">
  <h1>
    Consulta
  </h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/unidades">
        <i class="fa fa-dashboard"></i>Home</a>
    </li>
    <li class="active">Produtos</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Produtos</h3>
        </div>
        <!-- /.box-header c-->
        <div class="box-body ">
              <form class="form-book" #formProd="ngForm" (ngSubmit)="getprod(formProd)">
                <div class="form-row">
                 <div class="form-group col-md-6">
                   <label for="filial">Filial</label>
                   <select name="filial" id="filial" class="form-control" [(ngModel)]="filial" >
                     <option value="0101" selected>Matriz</option>
                     <option value="0104">João Pessoa</option>
                     <option value="0108">Cabedelo</option>
                     <option value="0105">CD</option>
                     <option value="0110">Juazeiro do Norte</option>
                     <option value="0109">Fortaleza</option>
                     <option value="0103">Arapiraca</option>
                     <option value="0201">Dona Valmira</option>
                     <option value="0106">Campina Grande</option>
                     <option value="0107">Natal</option>
                   </select>
                 </div>
                 <div class="form-group col-md-6">
                   <label for="Dproduto">Produto</label>
                   <input type="text" id="Dproduto" name="Dproduto" class="form-control" placeholder="Produto" [(ngModel)]="Dproduto">
                 </div>
                 <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Cprotheus">Codigo Protheus</label>
                        <input type="text" id="Cprotheus" name="Cprotheus" class="form-control" placeholder="Ex: 251155447" [(ngModel)]="Cprotheus">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Cbarras">Codigo de Barras</label>
                        <input type="text" id="Cbarras" name="Cbarras" class="form-control" placeholder="Ex: 7890437370257" [(ngModel)]="Cbarras">
                    </div>
                 </div>
               </div>
                  <button id="busca" type="submit" class="btn btn-primary">Buscar</button>
                  <button id="reset" (click)='reset()' type="reset" class="btn btn-default">Limpar</button>
             </form>
             
             <table class="table table-hover">
                <div *ngIf="error" class="alert alert-danger">
                    <div> 
                        Pelo menos 1 dos campos devem ser preenchidos
                    </div>
                 </div>
              <thead *ngIf="head">
                <tr>
                  <th width="45%" scope="col">Produto</th>
                  <th width="20%" scope="col">Mundo</th>                  
                  <th width="15%" scope="col">Codigo Protheus</th>
                  <th width="15%" scope="col">Codigo de Barras</th>
                  <th width="5%" scope="col">Detalhes</th> 
                </tr>
              </thead>  
              <tbody *ngIf="head">
                <tr *ngFor="let p of produtos">
                  <td  class="capitalize"> {{ (p.B1_DESC).toLowerCase() }} </td>
                  <td> {{ p.B1_XDSCGRP }} </td>
                  <td> {{ p.B1_COD }} </td>
                  <td> {{ p.B1_CODBAR }} </td>
                  <td><Span class="glyphicon glyphicon-search" (click)="onDetail(p, filial)" data-toggle="modal" data-target="#modalProduto" ></Span></td>
                </tr>
              </tbody>
            </table>        
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.box-body -->
  </div>
</section>


<!--Modal De Proj-->
<div id="modalProduto" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">{{this.consultasService.produto.descricao}}</h3>
            </div>
            <div class="modal-body">
                <form class="form-book" >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="codprot">Codigo Protheus</label>
                            <input  disabled id="codprot" name="codprot" class="form-control" 
                            [(ngModel)]="this.consultasService.produto.codigo" >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="codbar">Codigo Barras</label>
                            <input disabled type="text" name="codbar" id="codbar" class="form-control"
                            [(ngModel)]="this.consultasService.produto.codbar"
                               >
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="fornecedor">Fornecedor</label>
                            <input disabled type="text" id="fornecedor" name="fornecedor" class="form-control" 
                            [(ngModel)]="this.consultasService.produto.fornecedor"
                               >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="estoqlj">Estoque Loja</label>
                            <input disabled type="text" name="estoqlj" id="estoqlj" class="form-control" 
                            [(ngModel)]="this.consultasService.produto.estoqlj"
                                >
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="estoqdep">Estoque Deposito</label>
                          <input disabled type="text" id="estoqdep" name="estoqdep" class="form-control" 
                          [(ngModel)]="this.consultasService.produto.estoqdep"
                             >
                      </div>
                      <div class="form-group col-md-6">
                          <label for="estoqcd">Estoque CD</label>
                          <input  disabled type="text" name="estoqcd" id="estoqcd" class="form-control" 
                          [(ngModel)]="this.consultasService.produto.estoqcd"
                              >
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="prcprod">Preço</label>
                            <input disabled type="text" id="prcprod" name="prcprod" class="form-control" 
                            [(ngModel)]="this.consultasService.produto.prcprod"
                               >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="status">Status</label>
                            <input  disabled type="text" name="status" id="status" class="form-control" 
                            [(ngModel)]="this.consultasService.produto.status"
                                >
                        </div>
                      </div>
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"  data-dismiss="modal" >Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>