<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel" *ngIf="isLogged">
      <div class="pull-left image">
        <img src="assets/img/carajas.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{user.nome}}</p>
      </div>
    </div>

    <ul class="sidebar-menu">
      <!--<li class="header">Menus</li>-->
      <li class="treeview">
        <a routerLink="/admin/unidades">
            <i class="glyphicon glyphicon-check"></i>
            <span>Lojas</span>
          </a>
      </li>
      <li class="treeview" *ngIf="isLogged">
        <a routerLink="/admin/caixas">
            <i class="glyphicon glyphicon-check"></i>
            <span>Caixas</span>
          </a>
      </li>
      <li class="treeview" *ngIf="isLogged">
        <a routerLink="/admin/l1s">
            <i class="glyphicon glyphicon-check"></i>
            <span>Situa</span>
          </a>
      </li>
       <li class="treeview" >
          <a routerLink="/admin/admin-home">
              <i class="fa fa-users"></i>
              <span>Atendentes</span>
            </a>
        </li>
      
        <li class="treeview" *ngIf="isLogged">
          <a href="#">
              <i class="fa fa-pie-chart"></i>
              <span>Horário</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
          <ul class="treeview-menu">
            <li><a routerLink="/admin/horario"><i class="fa fa-circle-o"></i>Calendário</a></li>
            <li *ngIf="isAdm" ><a routerLink="/admin/timesheet"><i class="fa fa-circle-o"></i>Timesheet</a></li>
          </ul>
        </li>
        <li class="treeview" *ngIf="isLogged">
          <a routerLink="/admin/projetos">
              <i class="fa fa-book"></i>
              <span>Projetos</span>
            </a>
        </li>
      <!--
      <li class="treeview" *ngIf="isLogged">
        <a routerLink="/admin/listagem">
            <i class="fa fa-shopping-cart"></i>
            <span>Solicitações de Compra</span>
          </a>
      </li>
      -->
      <li class="treeview" *ngIf="isLogged">
        <a routerLink="/admin/listagemimp" >
            <i class="fa fa-print"></i>
            <span>Impressoras</span>
          </a>
      </li>
      <li class="treeview" *ngIf="isLogged">
        <a routerLink="/admin/ramal">
            <i class="fa fa-phone"></i>
            <span>Ramal</span>            
          </a>
      </li>
      <li class="treeview" *ngIf="isLogged">
          <a routerLink="/admin/colaborador">
              <i class="fa fa-user"></i>
              <span>Colaboradores</span>            
            </a>
        </li>
        <!--
      <li class="treeview" *ngIf="isLogged">
        <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Custo Fixo</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a routerLink="/admin/custofixo"><i class="fa fa-circle-o"></i>Contratos</a></li>
          <li><a routerLink="/admin/cfhistorico/0"><i class="fa fa-circle-o"></i>Pagamentos</a></li>
        </ul>
      </li>
      -->
      <li class="treeview" *ngIf="isLogged">
        <a routerLink="/admin/inventario">
            <i class="fa fa-list-alt"></i>
            <span>Inventário</span>            
          </a>
        </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
