<div class="clearfix"></div>
<div class="login-box">
    <div class="login-logo">
      <a [routerLink]="['/login']">
        <b>Painel</b> Carajas
      </a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <h3 class="login-box-msg">Login</h3>
      <div class="alert alert-danger" role="alert" *ngIf="isError">
        Email ou Senha Incorreta!
      </div>
      <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
        <div class="form-group has-feedback">
            <input type="email" id="email" name="email" class="form-control" placeholder=" Email" [(ngModel)]="user.email" required>
          </div>
        <div class="form-group has-feedback">
          <input type="password" id="password" name="password" class="form-control" placeholder="Senha" [(ngModel)]="user.password" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-offset-8 col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <br>
  
    </div>
    
    <!-- /.login-box-body -->
  </div>
  <div class="clearfix"></div>
  <!-- /.login-box -->