<!-- Content Header (Page header) -->
<!--
<section class="content-header">
  <h1>
    Adicionar
    <small>SC</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a routerLink="/admin/unidades">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">SC</li>
    <li class="active">Incluir</li>
  </ol>
</section>


<section class="content">
<form #formRegister="ngForm" (ngSubmit)="onInclude()">
  <div class="form-group has-feedback">
    <input type="text" id="numeroSC" name="name" class="form-control" placeholder="Número SC" [(ngModel)]="sc.numerosc" required>
  </div>
  <div class="form-group has-feedback">
      <input type="text" id="produtoID" name="produtoID" class="form-control" placeholder="Produto" [(ngModel)]="sc.produtoid" required>
    </div>
  <div class="form-group has-feedback">
    <input type="text" id="quantidadeP" name="quantidadeP" class="form-control" placeholder="Quantidade" [(ngModel)]="sc.quantidadep" required>
    
  </div>
  <div class="form-group has-feedback">
      <input type="text" id="solicitanteName" name="solicitanteName" class="form-control" placeholder="Solicitante" [(ngModel)]="sc.solicitante" required>
      
    </div>
    <div class="form-group has-feedback">
        <input type="text" id="tipoID" name="tipoID" class="form-control" placeholder="Tipo(Direta/Indireta)" [(ngModel)]="sc.tipo" required>
        
      </div>
      <div class="form-group has-feedback">
          <input type="text" id="chamadoID" name="chamadoID" class="form-control" placeholder="Chamado Referente" [(ngModel)]="sc.chamado" required>
          
        </div>
        <div class="form-group has-feedback">
            <input type="text" id="aprovadorName" name="aprovadorName" class="form-control" placeholder="Aprovador" [(ngModel)]="sc.aprovadorName" required>
            
          </div>
          <div class="form-group has-feedback">
              <input type="text" id="situacaoSC" name="situacaoSC" class="form-control" placeholder="Situação" [(ngModel)]="sc.situacaoSC" required>
              
            </div>
  <div class="row">
    
    
  
  
    <div class="col-xs-offset-8 col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
    </div>
  
  </div>
</form>

</section>
-->