<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Atendimento
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a routerLink="/admin/unidades">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Atual</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div>
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Atendentes</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body ">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Atendente</th>
                  <th scope="col">Unidade</th>
                  <th scope="col">Presente</th>
                  <th scope="col">Ramal </th>
                  <th scope="col">Horario</th>
                  <th *ngIf="isAdm" scope="col">Editar</th>
              </thead>
              <tbody>
                <tr *ngFor="let ate of ates; index as i">
                  <td>{{ ate.nome }}</td>
                  <td>{{ ate.unidade }}</td>
                  <td *ngIf="!present[i]"><span class="fa fa-circle text-green"></span> Presente </td>
                  <td *ngIf="present[i]"><span class="fa fa-circle text-red" ></span> Ausente </td>
                  <td>{{ ate.ramal }}</td>
                  <td>{{ ate.horario}}</td>
                  <td *ngIf="isAdm"  ><span class="glyphicon glyphicon-option-horizontal" data-toggle="modal" data-target="#modalAte" (click)="onPreUpdateAte(ate)"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.box-body -->
    </div>


  <div id="modalAte" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content col-md-4">
        <div class="modal-body">
            <h4 class="" >{{this.atendimentoDataService.selectedAte.nome}}</h4>
          <form class="form-book" #formAte="ngForm" (ngSubmit)="updateAte(formAte)">
            <input type="hidden" id="id" name="id" class="form-control" [(ngModel)]="this.atendimentoDataService.selectedAte.id">
            <input type="hidden" id="nome" name="nome" class="form-control" [(ngModel)]="this.atendimentoDataService.selectedAte.nome">
            <div class="form-group">
              <div class="form-group">
                <label >Unidade:</label>
                <select id="unidade" name="unidade" class="form-control"
                                [(ngModel)]="this.atendimentoDataService.selectedAte.unidade">
                                <option value="Matriz">Matriz</option>
                                <option value="João Pessoa">João Pessoa</option>
                                <option value="Cabedelo">Cabedelo</option>
                                <option value="CD">CD</option>
                                <option value="Juazeiro do Norte">Juazeiro do Norte</option>
                                <option value="Fortaleza">Fortaleza</option>
                                <option value="Arapiraca">Arapiraca</option>
                                <option value="Dona Valmira">Dona Valmira</option>
                                <option value="Campina Grande">Campina Grande</option>
                                <option value="Natal">Natal</option>
                            </select>
              </div>
              <input type="hidden" id="presente" name="presente" class="form-control" value="0" [(ngModel)]="this.atendimentoDataService.selectedAte.presente">
            <!--  <div  class="form-group">
                <label for="presente">Presente:</label>
                <select type='hidden' id="presente" name="presente" class="form-control" [(ngModel)]="this.atendimentoDataService.selectedAte.presente">
                <option class="fa fa-circle text-green" value="0">Presente</option>
                <option class="fa fa-circle text-red" value="1">Ausente</option>
              </select>
              </div>
              -->
              <div class="form-group">
                  <label >Horario:</label>
                  <select id="horario" name="horario" class="form-control"
                                [(ngModel)]="this.atendimentoDataService.selectedAte.horario">
                                <option value="Abertura">Abertura</option>
                                <option value="Intermediário">Intermediário</option>
                                <option value="Fechamento">Fechamento</option>
                                <option value="Comercial">Comercial</option>
                            </select>
                </div>
            </div>              
              <div class="form-group">
                  <button type="submit" class="btn btn-primary float-right">Salvar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
