<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Atendimento
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a routerLink="/admin-home">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Atual</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div>
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Atendentes</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body ">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Atendente</th>
                  <th scope="col">Local</th>
                  <th scope="col">Chamado</th>
                  <th scope="col">Obs</th>
                  <th *ngIf="isLogged" scope="col">Editar</th>
              </thead>
              <tbody>
                <tr *ngFor="let ate of ates">
                  <td>{{ ate.nome }}</td>
                  <td>{{ ate.setor }}</td>
                  <td>{{ ate.chamadoatual }}</td>
                  <td>{{ ate.obs}}</td>
                  <td *ngIf="isLogged"  ><span class="glyphicon glyphicon-option-horizontal" data-toggle="modal" data-target="#modalAte" (click)="onPreUpdateAte(ate)"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.box-body -->
    </div>
   <!-- <div *ngIf="logado()" class="row"> -->
  <div id="modalAte" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content col-md-4">
        <div class="modal-body">
            <h4 class="" >{{this.atendimentoDataService.selectedAte.nome}}</h4>
          <form class="form-book" #formAte="ngForm" (ngSubmit)="updateAte(formAte)">
            <input type="hidden" id="id" name="id" class="form-control" [(ngModel)]="this.atendimentoDataService.selectedAte.id">
            <div class="form-group">
              <div class="form-group">
                <label for="setor">Local:</label>
                <select id="setor" name="setor" class="form-control" [(ngModel)]="this.atendimentoDataService.selectedAte.setor">
                                <option *ngFor="let setor of setores" [ngValue]="setor.id">
                                  {{setor.setor}}
                                </option>
                            </select>

              </div>
              <div class="form-group">
                <label for="chamadoatual">Chamado:</label>
                <input type="number" id="chamadoatual" name="chamadoatual" class="form-control" placeholder="Ex: 10" [(ngModel)]="this.atendimentoDataService.selectedAte.chamadoatual">
              </div>
              <div class="form-group">
                  <label for="obs">Obs:</label>
                  <input id="obs" name="obs" class="form-control" [(ngModel)]="this.atendimentoDataService.selectedAte.obs">
                </div>
            </div>              
              <div class="form-group">
                  <button type="submit" class="btn btn-primary float-right">Salvar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
